/* Авторизация */

.authForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px gray;
    border-radius: 25px;
}

.authLab {
    margin: 15px 100px;
    text-align: center;
    color: #1240AB;
    font-size: 18pt;
}

.inputAuthForm {
    margin: 30px 20px;
    text-align: center;
}

.login,
.password {
    padding: 10px;
    width: 100%;
    font-size: 12pt;
    color: gray;
    outline: none;
    border: none;
    overflow: hidden;
    border-bottom: 1px solid gray;
    transition: .2s;
}

.login::before,
.password::before {
    opacity: 1;
    border-bottom: 1px solid #1240AB;
    transform: translate3d(-100%, 0, 0);
}

.login:focus::before,
.password:focus::before {
    color: #1240AB;
    border-bottom: 1px solid #1240AB;
    transform: translate3d(0, 0, 0);
}

.inputAuthForm input[type="submit"] {
    font-size: 12pt;
    width: 100px;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    background-color: #1240AB;
    border: 1px solid #1240AB;
    cursor: pointer;
    color: #fff;
    border-radius: 25px;
    transition: .1s;
}

.inputAuthForm input[type="submit"]:hover {
    background-color: #fff;
    color: #1240AB;
}

.inputAuthForm input[type="submit"]:active {
    background-color: #6C8CD5;
    color: #fff;
}