*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}


/*ХЭДЕР       ХЭДЕР       ХЭДЕР       ХЭДЕР      ХЭДЕР       ХЭДЕР     ХЭДЕР      ХЭДЕР       ХЭДЕР       ХЭДЕР       ХЭДЕР*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1240AB;
    z-index: 2;
}

.container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    z-index: 3;
    border-radius: 50px;
    overflow: hidden;
}

.logo img {
    max-width: 100%;
    display: block;
}

.burger {
    display: none;
}

.menu {}

.header_list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header_list li {
    list-style: none;
    margin: 0px 0px 0px 20px;
}

.header_link {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .logo {
        flex: 0 0 40px;
    }
    .header_body {
        height: 50px;
    }
    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .burger span {
        position: absolute;
        background-color: #fff;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all .3s ease 0s;
    }
    .burger:before,
    .burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all .3s ease 0s;
    }
    .burger:before {
        top: 0;
    }
    .burger:after {
        bottom: 0;
    }
    .menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6C8CD5;
        padding: 70px 10px 20px 10px;
        transition: all .7s ease 0s;
        overflow: auto;
    }
    .menu.active {
        top: 0;
    }
    .header_list {
        display: block;
    }
    .header_list li {
        margin: 0px 0px 20px 0px;
    }
    .burger.active:before {
        transform: rotate(45deg);
        top: 9px;
        transition: all .3s ease 0s;
    }
    .burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: all .3s ease 0s;
    }
    .burger.active span {
        transform: scale(0);
        transition: all .3s ease 0s;
    }
    .header_link {
        font-size: 24px;
    }
}


/*КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ     КОНТЕНТ*/

.content {
    flex: 1 1 auto;
    padding: 100px 0px 0px 0px;
}

.content_text {
    font-size: 16px;
    line-height: 25px;
}

.content_text p {
    margin: 0px 0px 20px 0px;
}

@media (max-width:767px) {
    .content {
        padding: 70px 0px 0px 0px;
    }
}


/*ФУТЕР     ФУТЕР      ФУТЕР      ФУТЕР       ФУТЕР       ФУТЕР      ФУТЕР         ФУТЕР      ФУТЕР      ФУТЕР         ФУТЕР*/

@media (max-width:767px) {
    .rows {
        font-size: 15px;
    }
}

.footer {
    background-color: #06266F;
    padding: 30px;
    text-align: center;
    color: #fff;
}


/* Авторизация */

.authForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 10px gray;
    border-radius: 25px;
}

.authLab {
    margin: 15px 100px;
    text-align: center;
    color: #1240AB;
    font-size: 18pt;
}

.inputAuthForm {
    margin: 30px 20px;
    text-align: center;
}

.inputAuthForm input {
    padding: 10px;
    width: 100%;
}

.login,
.password {
    position: relative;
    font-size: 12pt;
    color: gray;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    transition: .2s;
}

.login:before,
.password:before {
    position: absolute;
    border-bottom: 2px solid #1240AB;
}

.login:focus:before,
.password:focus:before {
    color: #1240AB;
    border-bottom: 1px solid #1240AB;
}

.inputAuthForm input[type="submit"] {
    font-size: 12pt;
    font-weight: 600;
    padding: 15px;
    text-transform: uppercase;
    background-color: #1240AB;
    border: 1px solid #1240AB;
    cursor: pointer;
    color: #fff;
    width: 100px;
    border-radius: 25px;
    transition: .1s;
}

.inputAuthForm input[type="submit"]:hover {
    background-color: #fff;
    color: #1240AB;
}

.inputAuthForm input[type="submit"]:active {
    background-color: #6C8CD5;
    color: #fff;
}